# ==========================================
# Configuración de Contenedores (Docker Compose)
# ==========================================
API_CONTAINER_NAME=nestjs-api
API_PORT=3000

DB_CONTAINER_NAME=postgres-db
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
POSTGRES_DB=lab05db

# ==========================================
# Prisma Configuration
# ==========================================
# NOTA: Esta URL apunta a 'localhost' para que comandos locales de Prisma funcionen (ej. npx prisma migrate dev)
DATABASE_URL="postgresql://postgres:password123@localhost:5432/lab05db?schema=public"
